
*{
   font-weight: 400;
   font-style: normal;
   padding: 0px;
   /* Espacio fuera del borde */
   margin: 0px;
}

 body{  
   max-height: 600px;
   font-family: "Fantasy", "Copperplate", "Papyrus";
   }
/* Esta es la parte del navegacion de a pagina*/
main{
   margin-top: 5%;
  min-height: 90vh;
  font-size: 19px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*opacity: 0.8;*/
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #33333300;
   position: fixed;
   top: 0;
   width: 100%;
   text-align: center;
 }
 
 li {
   float: right;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 18px 16px;
   text-decoration: none;
 }
 #name{
   float: left;
   font-size: 30px;
 }
 
 li a:hover {
   background-color: rgb(170, 103, 3);
 }
 /*Fin del navegador*/

header{
   min-height: 12vh;
   background-color: black;
   position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Espaciado interno del encabezado */
    z-index: 1000; /* Asegura que el encabezado esté por enc*/
}
/*Selector imagen*/
.img{
   float:right;
   max-height: 80%;
   max-width:  20%;
}
/*Las clases se utilizan para darle estilos a mas de un elemento*/
 h1, P{
   font-family: "Fantasy", "Copperplate", "Papyrus";
   width: 30%;
   color: azure;
}
h1{
  font-size: 70px;
  text-align: center;
  margin-right: 70%;
  margin-left: 35%;
}
h3{
  margin-top: 10%;
  margin-left: -50%;
  color: bisque;
  font-family: 'Times New Roman', Times, serif;
}
p{
  position:relative;
  transform: translate(20%, 50%);
  background-position: 10%;
  font-size: 80px;
   margin-right: 10px;
   color: rgb(245, 241, 237);
}

.grupo1{
  text-align: left;
  min-height: 90vh;
  text-align:center;
  background-image: url(img/post0.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  opacity: 1;
}
button{
  background-color: rgb(170, 103, 3);
  border-radius: 15%;
  right: 100px;
  margin-bottom: 200px;
  margin-left: -55%;
  color: #140707;
  width: 150px; /* Ancho en píxeles */
  
}

.grupo2{
   background-color: black;
   min-height: 130vh;
   text-align: center;  
}

/*Menú*/
div.gallery {

  background-size: 50% 50%;
  background-position: 50%;
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   margin-left: 3.7%;
   max-width: 40vh;
   max-height: 80vh;

   }
 
 div.gallery:hover {
   border: 1px solid #777777;
 }
 
 div.gallery img {
   max-width: 80px;
   max-height: 100px;
   background-color: rgb(252, 248, 248);

   
 }
 
 div.desc {
   padding: 15px;
   text-align: center;
 }
  
cuadro{
  width: 4000px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #140707;
  border-radius: 10px;
}

 h2{
  text-align: center;
  padding: 20px;
 }


 footer{
  font-family:'Times New Roman', Times, serif;
   background-color: rgb(170, 103, 3);
   opacity: 0.8;
   font-size: 19px;
   color: black;
   text-align: center;
   
   
 }
 
